@import './mixins.scss';


.dashboard_parent{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner_dash{
    //border: 1px solid white;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .menu_item{
      width: 350px;
      height: 330px;
      background-color:$main-clr;
      margin: 0.5rem 0.5rem;
      @include columnFlex(column);
      font-size: 12rem;
      border-radius: 6px;
      box-shadow: 1px 2px 12px #444;
      color: whitesmoke;
      transition: 0.2s linear;
      &:hover{
        cursor: pointer;
        transform: scale(1.04);
        transition: 0.2s linear;
      }
      span{
        color: whitesmoke;
        margin-top: 40px;
        font-size: 1.7rem;
      }
    }
  }
  .log_out_popup{
    background-color: $bg-clr;
    padding: 2rem 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    font-size: 1.15rem;
    letter-spacing: 0.075rem;
    border-radius: 5px;
    button{
      margin: 0px 5px;
      @include loginSetupButtons();
      width: 100px;
    }
  }
}