@import "./mixins.scss";

.forgot_password_parent{
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -26%);
  .reset_password_items{
    @include columnFlex(column);
  }
  img{
    @include logoImgWH();
  }
  button{
    @include loginSetupButtons()
  }
  input{
    @include inputBar();
  }
}