@import './mixins.scss';

.password_reset_container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
  text-align: center;
  input{
    @include inputBar();
  }
  button{
    @include loginSetupButtons();
  }
}