body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

html{
  margin: 0;
  padding: 0;
  height: 100%;  
}

#root{
  padding: 0;
  margin: 0;
  height: 100%;

}

//VARIBALES
$box-shadow-dark-large: 4px 10px 40px rgba(75, 75, 75, 0.75);
$box-shadow-dark-small: 4px 6px 5px rgba(75, 75, 75, 0.75);

//Mixins
@mixin loginInputs {
  background-color: rgba(44,44,44,0.7);
  width: 300px;
  height: 30px;
  padding: 2px 10px; 
  border-radius: 5px;
  margin-bottom: 5px;
  border: 0.25px solid rgba(255, 255, 255, 0.6);
  outline: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
}

@mixin loginPageButtons{
  width: 322px;
  border-radius: 5px;
  padding: 4px 0;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: 2px;
  background-color: rgb(29, 133, 124);
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}


.progress_bar{
  height: 10px;
  width: 125px;
  border-radius: 1em;
  border: 2px solid rgb(55, 55, 55);
}
.filler{
  background:rgb(54, 54, 197);
  height: 100%;
  border-radius: inherit;
  transition: width .3s ease-in;
}
.app{
  height: 100%;
}

.user_select_parent{
  background: url("../imgs/Nutribackground.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  .login_inputs{
    position: absolute;
    top: 12%;
    transform: translateY(-12%);
    left: 50%;
    transform: translateX(-50%);
    img{
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }
  input{
   @include loginInputs();
  }
    .login_button{
     @include loginPageButtons();
      &:hover{
        transition: 0.3s ease-in-out;
        cursor: pointer;
        background-color: rgb(33, 153, 143);
      }
      &:active{
        transition: 0.1s ease-in-out;
        transform: scale(0.95);
      }
    }


    

    .create_user{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 2rem;
      color: rgba(255, 255, 255, 0.6);
      transition: 0.3s ease-in-out;
      &:hover{
        color: white;
        transition: 0.3s ease-in-out;
        transform: scale(1.05);
      }
      span{
        font-size: 2.5rem;
      }
      h5{
       margin-top: -10px;
      }
    }
  }
  .forgot_details{
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 50%;
    transform: translateX(-50%);
    input{
      @include loginInputs();
    }
    .forgot_button{
      
      width: 164px;
    }
  }
}