body{background-color:white}.progress_bar{height:10px;width:125px;border-radius:1em;border:2px solid #373737}.filler{background:#3636c5;height:100%;border-radius:inherit;transition:width .3s ease-in}
